.info{
    text-align: center;
}

form{
    display: inline-block;
    margin-top: 40px;
    text-align: left;
    width: 500px;
}

.label-input{
    color: black;
    font-weight: 400;
    font-size: 24px;
}

.text-input{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    width: 500px;
    height: 30px;
    
}

.modify-form-btn{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    height: 40px;
    font-size: 16px;
}

.modify-form-btn a{
    text-decoration: none;
}

.decline-btns{
    cursor: pointer;
    background-color: #00FF00;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 150px;
    min-width: 150px;
    line-height: 38px;
    margin-left: 100px;

}

.decline-btns:hover,
.decline-btns:active{
    background-color: green;
}

.accept-btns{
    cursor: pointer;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 150px;
    min-width: 150px;
    line-height: 38px;
    margin-right: 100px;
}

.accept-btns:hover,
.accept-btns:active{
    background-color: #930000;
}